Given an initial query, generate a set of {{k_new}} new queries so that together, this set of {{k_tot}} queries (new plus old) could help find relevant documents in {{k_tot}} searches.

<initial query>
{{q}}
</initial query>

Respond ONLY with a single valid JSON object of the following form:

{
  "new_query_list": [
    "<new_query_1>",
    "<new_query_2>",
    ...
    "<new_query_{{k_new}}>"
  ]
}
